<%Player.all.where(:drafted => false).where(:position => 'QB').order(:overall_rank).each do |player| %>
  <tr id=<%=player.id%>>
    <td><div class=<%=player.position%>><%= player.display_name %></div></td>
    <td><div class=<%=player.position%>><%=player.position %></div></td> 
    <td><div class=<%=player.position%>><%= player.team %></div></td>
    <td><div class=<%=player.position%>><%= player.byeweek %></div></td>
    <td><div class=<%=player.position%>><%= player.overall_rank.to_i %></div></td>
    <td><div class=<%=player.position%>><%= player.nerd_rank %></div></td>
    <td><div class=<%=player.position%>><%= player.position_rank.to_i %></div></td>
    <td>
      <%= form_for player, remote: true do |f| %>
      <%= f.hidden_field :player_id, {:value => player.id} %>
      <%= f.submit "Lost" %>
        <%end%>
    </td>
    <td>
      <%= form_for player, url: drafted_path, method: 'POST', remote: true do |f| %>
      <%= f.hidden_field :player_id, {:value => player.id} %>
      <%= f.submit "Acquired!" %>
        <%end%>
    </td>
  </tr>
<%end%>